<h2>Productos de la categoría "{{ categoria }}"</h2>

<div class="productos-lista">
  <div *ngFor="let producto of productos" class="producto">
    <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
    <h3>{{ producto.nombre }}</h3>
    <p>Precio: {{ producto.precio | currency }}</p>
    <!-- Agrega más detalles del producto -->
  </div>
  <div *ngFor="let producto of productos">
    <!-- ... detalles del producto ... -->
    <button (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
  </div>
</div>
