<h2>Iniciar Sesión</h2>
<form (ngSubmit)="iniciarSesion()">
  <label for="correo">Correo electrónico:</label>
  <input type="email" id="correo" [(ngModel)]="correo" name="correo" required />

  <label for="contraseña">Contraseña:</label>
  <input
    type="password"
    id="contraseña"
    [(ngModel)]="password"
    name="contraseña"
    required
  />

  <button type="submit">Iniciar Sesión</button>
</form>
<p *ngIf="error">Credenciales inválidas. Intenta nuevamente.</p>
<p>No tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
